@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 20px 100px;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: #f5f5f5;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h2 {
  font-weight: 500;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

nav li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 5px 20px;
}

nav li a:hover {
  color: white;
  background-color: #ff4842;
  border-radius: 50px;
}

.nav-contact button {
  background-color: #f5f5f5;
  border: 1px solid #ff4842;
  border-radius: 50px;
  padding: 10px 30px;
  color: #ff4842;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.nav-contact button:hover {
  background-color: #ff4842;
  color: white;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span {
  color: #ff4842;
}

.home-contact button {
  padding: 10px 30px;
  background-color: #ff4842;
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

.home-contact button:hover {
  transform: scale(1.05);
}

.home .left p {
  color: grey;
  font-size: 16px;
  margin-right: 100px;
}

.home .right {
  position: relative;
  display: inline-block;
}

.home .right img {
  width: 400px;
  margin-right: 50px;
}

.home-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.home-footer a {
  text-decoration: none;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  border-radius: 100px;
  padding: 20px 50px;
  background-color: white;
  width: 80%;
}

.socials,
.contact-me img {
  cursor: pointer;
  background: none;
}

.bottom p {
  color: grey;
  text-align: center;
}

.next a,
.projects a {
  color: #ff4842;
  font-size: 45px;
  cursor: pointer;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
  gap: 80px;
}

.about img {
  width: 400px;
}

.about-left {
  position: relative;
  display: inline-block;
}

.about-left img {
  display: block;
}

.about p {
  font-size: 16px;
  color: grey;
  margin: 5px 5px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.skill {
  text-align: center;
}

.skill ion-icon {
  font-size: 2rem;
  color: #333;
}

.skill h4 {
  font-size: 1rem;
  margin-top: 10px;
}

.skill img {
  width: 100%;
}

.cv button {
  margin-top: 20px;
  border: none;
  padding: 10px 25px;
  background-color: #ff4842;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.services {
  margin-top: 90px;
}

.services-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.services-header p {
  font-size: 16px;
  color: grey;
  display: inline;
  width: 60%;
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  width: 80%;
  height: 60%;
  justify-content: center;
  margin: 0 auto;
}

.individual-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  gap: 10px;
}

.individual-service img {
  width: 100px;
}

.individual-service p {
  font-size: 14px;
  text-align: center;
}

.individual-service h3 {
  font-weight: 500;
}

.individual-service:hover {
  background-color: #ff4842;
  color: white;
}

.projects {
  display: block;
  margin-top: 90px;
  text-align: center;
  padding: 20px;
}

.projects h4 span {
  color: #007bff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.projects h2 {
  font-size: 2rem;
  margin: 20px 0;
  font-weight: 600;
  color: #333;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.project {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.project-item {
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.project-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 3px solid #ff4842;
}

.description {
  padding: 20px;
  color: #555;
}

.description h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.description p {
  font-size: 14px;
  line-height: 1.6;
  color: #777;
  margin-bottom: 15px;
}

.description p a {
  font-size: 14px;
  color: #ff4842;
  text-decoration: none;
}

.description p a:hover {
  text-decoration: underline;
}

.contact-page img {
  width: 300px;
}

.contact-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-top: 90px;
}

.contact-page .left,
.contact-page .contact-form-container,
.contact-page .right {
  flex: 1;
}

.contact-form-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.form-group input {
  margin-bottom: 15px;
}

.form-group textarea {
  height: 100px;
  resize: vertical;
}

.form-group .submit-button {
  color: #ff4842;
  background-color: white;
  padding: 10px 40px;
  border: 1px solid #ff4842;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  align-self: flex-end;
}

.form-group .submit-button:hover {
  background-color: #ff4842;
  color: white;
}

footer {
  margin: 70px auto;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 5px 20px;
}

.footer-nav li a:hover {
  color: white;
  background-color: #ff4842;
  border-radius: 50px;
}

footer .contact-me {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-page .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-page .right p {
  font-size: 16px;
  padding: 0 20px;
  color: grey;
}

.contact-page .right button {
  background-color: #ff4842;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 20px 50px;
  font-size: 16px;
  font-weight: 700;
}

.rights {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thank-you-container {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}
.thank-you-container img {
  width: 300px;
  height: auto;
}
.thank-you-container h1 {
  font-size: 2em;
  color: #333;
}
.thank-you-container p {
  font-size: 16px;
  color: grey;
}
.thank-you-container a {
  display: inline-block;
  margin-top: 20px;
  font-size: 1em;
  color: #ff4842;
  text-decoration: none;
}
.thank-you-container a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
  margin: 20px 0;
  border-bottom: 1px solid #ccc;
}

.navbar .menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.nav-links .nav-link.active {
  background-color: #ff4842;
  border-radius: 50px;
  color: white;
}

/* FIXME: Make the navbar more appealing */
@media (max-width: 480px) {
  body {
    margin: 0 auto;
  }

  .header .logo {
    width: 50px;
    padding: 10px;
  }

  .navbar .nav-links,
  .nav-contact {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links.active {
    display: block;
    right: 0;
    top: 70px;
    position: absolute;
    background-color: #ff4842;
    width: 50%;
    padding: 20px;
  }
  .navbar .nav-links.active li a {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .navbar .menu-button {
    display: block;
    font-size: 30px;
    padding: 10px;
  }

  .home {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .home .left {
    order: 2; /* display left after right */
  }

  .home .left h3,
  h2 {
    text-align: center;
  }

  .home .left p {
    margin-right: 0;
    text-align: center;
  }

  .home-contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home .right {
    order: 1;
    text-align: center;
  }

  .home .right img {
    margin: 0 auto;
    width: 60%;
  }
  .home-footer .bottom {
    display: flex;
    background: none;
  }

  .home-footer .tools-skills,
  .home-footer .contact-me {
    display: none;
  }

  .home-footer .socials {
    flex: none;
    min-width: 0;
  }

  .home-footer .socials img {
    margin-top: 15px;
  }
  .next {
    display: none;
  }

  .about {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
  }

  .about-right {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about .about-left img {
    display: none;
  }
  .skills {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .skill {
    width: 100%;
    max-width: 350px;
  }

  .skill h4 {
    font-size: 16px;
  }

  .services .services-header p {
    width: 100%;
  }

  .service {
    display: grid;
    grid-template-columns: 1fr;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects img {
    width: 300px;
  }

  .contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact-page img {
    display: none;
  }

  .contact-page .right {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contact-page .right button {
    display: none;
  }

  .contact-page br {
    display: none;
  }

  .contact-page .right p {
    padding: 0;
  }

  .contact-page .contact-form-container {
    width: 100%;
    order: 2;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
  }

  .footer-nav li a {
    padding: 5px 10px;
  }

  footer .rights {
    margin-left: 50px;
  }
}
