@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 20px 100px;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: #f5f5f5;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h2 {
  font-weight: 500;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

nav li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 5px 20px;
}

nav li a:hover {
  color: white;
  background-color: #ff4842;
  border-radius: 50px;
}

.nav-contact button {
  background-color: #f5f5f5;
  border: 1px solid #ff4842;
  border-radius: 50px;
  padding: 10px 30px;
  color: #ff4842;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.nav-contact button:hover {
  background-color: #ff4842;
  color: white;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

span {
  color: #ff4842;
}

.home-contact button {
  padding: 10px 30px;
  background-color: #ff4842;
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

.home-contact button:hover {
  transform: scale(1.05);
}

.home .left p {
  color: grey;
  font-size: 16px;
  margin-right: 100px;
}

.home .right {
  position: relative;
  display: inline-block;
}

.home .right img {
  width: 400px;
  margin-right: 50px;
}

.home .right .button {
  position: absolute;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 600;
}

.responsive {
  top: 10px;
  left: 30px;
  color: #ff4842;
  position: relative;
  overflow: hidden;
}

.responsive::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(to bottom right, transparent 50%, #ff4842 50%);
}

/* TODO: Customize floating buttons */

.development {
  bottom: 70px;
  right: 10px;
}

.right .button.development {
  background-color: #fafafa;
}

.home-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  border-radius: 100px;
  padding: 20px 50px;
  background-color: white;
  width: 80%;
  position: relative;
}

.socials img {
  cursor: pointer;
}

.bottom p {
  color: grey;
  text-align: center;
}

.bottom .contact-me img {
  cursor: pointer;
}

.next {
  color: #ff4842;
  font-size: 45px;
  cursor: pointer;
}
